# 监听端口
port = :8081
# python 脚本地址
script = ../script/app.py
script.log = ../script/app.log

# log 配置 info
log.info.dir = data/info
log.info.compress = true
log.info.fileprefix = info
log.info.reserveday = 30
# error
log.error.dir = data/error
log.error.compress = true
log.error.fileprefix = error
log.error.reserveday = 30
